<div class="row">
  <div class="col-xs-6">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="account-email" class="control-label">Email</label>
        <div [class]="!passwordEditMode ? 'input-group' : ''">
          <input
            type="email"
            id="account-email"
            class="form-control"
            autocomplete="off"
            [value]="emailEditMode ? '' : emailValue"
            [readonly]="!emailEditMode"
            formControlName="email"
          >
          <span *ngIf="!emailEditMode && !passwordEditMode" class="input-group-btn">
            <button id="account-email-button" class="btn" type="button" (click)="onEditEmail()">Edit</button>
          </span>
          <span *ngIf="emailEditMode" class="input-group-btn">
            <button id="account-email-edit-yes" class="btn" [disabled]="email.pristine" (click)="onEmailYes()">✓</button>
            <button id="account-email-edit-no" class="btn" (click)="onEmailNo()">✖</button>
          </span>
        </div>
        <div *ngIf="email.invalid && email.touched">
          <div id="account-email-required" *ngIf="emailRequiredError()" class="validation-text">Required</div>
          <div id="account-email-valid" *ngIf="validEmailError() && email.value" class="validation-text">Must be a valid email</div>
        </div>
      </div>

      <div class="form-group">
        <label for="account-password" class="control-label">Password</label>
        <div [class]="!emailEditMode ? 'input-group' : ''">
          <input
            type="password"
            id="account-password"
            class="form-control"
            [value]="passwordEditMode ? '' : '*******'"
            [readonly]="!passwordEditMode"
            formControlName="password"
          >
          <span *ngIf="!passwordEditMode && !emailEditMode" class="input-group-btn">
            <button id="account-password-button" class="btn btn-default" type="button" (click)="onEditPassword()">Edit</button>
          </span>
          <span *ngIf="passwordEditMode" class="input-group-btn">
            <button id="account-password-edit-yes" class="btn" [disabled]="password.pristine && passwordTwo.pristine" (click)="onPasswordYes()">✓</button>
            <button id="account-password-edit-no" class="btn" (click)="onPasswordNo()">✖</button>
          </span>
        </div>
        <div *ngIf="password.invalid && password.touched">
          <div id="password-email-required" *ngIf="passwordRequiredError()" class="validation-text">Required</div>
          <div id="password-email-valid" *ngIf="passwordMinLengthError()" class="validation-text">Must be at least 6 characters long</div>
        </div>
      </div>

      <div *ngIf="passwordEditMode" class="form-group">
        <label for="account-password-2" class="control-label">Re-Type Password</label>
        <input type="password" id="account-password-2" class="form-control" [value]="passwordEditMode ? '' : ''" formControlName="passwordTwo">
        <div *ngIf="passwordTwo.invalid && (passwordTwo.touched || password.touched)">
          <div id="password-two-email-required" *ngIf="!passwordsMatch()" class="validation-text">Passwords must match</div>
        </div>
      </div>

    </form>
  </div>
  <div class="col-xs-6">
    <h2>Avatar placeholder v3 {{emailEditMode}}</h2>
  </div>
</div>
